<div class="nav-bar navbar-expand-lg">
    <div class="nav-wrapper d-flex p-3 bg-dark text-light">
        <div class="logo">
            <p class="m-0">Logo</p>
        </div>
        <div class="nav-links"style="margin-left: auto">
            <ul class="d-flex m-0 gap-4">
                <li><a href="/">Home</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
        </div>
    </div> 
</div>